<div class="container-fluid">
    <mat-card>
        <div class="row">
            <div class="col-md-6">
                <mat-card-subtitle>Vale: {{vale.id}} / SAP ID: {{vale.idSAP}} &nbsp;&nbsp; Status: {{vale.status}}</mat-card-subtitle>
            </div>
            <div class="col-md-3">
                <mat-card-subtitle>Usuario: {{vale.usuario}}</mat-card-subtitle>
            </div>
            <div class="col-md-3"><mat-card-subtitle>Fecha de creación: {{valeDate.toLocaleDateString()}} {{valeDate.toLocaleTimeString()}}</mat-card-subtitle></div>
           
        </div>
        
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.operador_Name}}">
                        <label for="floatingInput">Nombre de operador</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.unidad_Name}}">
                        <label for="floatingInput">Nombre de unidad</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <!---<div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input [readOnly]="vale.status!='P'" class="form-control" value="{{vale.km_Inicial}}" (change)="startKmUpdated($event)">
                        <label for="floatingInput">Kilometraje inicial</label>
                    </div>
                </div>--->
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input readOnly class="form-control" value="{{vale.km_Inicial}}">
                        <label for="floatingInput">Kilometraje inicial</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input [readOnly]="vale.status!='P'" type="email" class="form-control" value="{{vale.km_Final}}" (change)="finalKmUpdated($event)" >
                        <label for="floatingInput">Kilometraje final</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.kmRecorridos}}">
                        <label for="floatingInput">Kilometros recorridos</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.litrosSolicitados}}" >
                        <label for="floatingInput">Litros solicitados</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input [readOnly]="vale.status!='P'" type="email" class="form-control" value="{{vale.litrosCargados}}" (change)="requestedLitersUpdated($event)">
                        <label for="floatingInput">Litros cargados</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.rendimiento_Optimo}}">
                        <label for="floatingInput">Rendimiento Optimo</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.rendimiento_Real}}">
                        <label for="floatingInput">Rendimiento Real</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.diferencia}}">
                        <label for="floatingInput">Diferencia</label>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.proveedorName}}">
                        <label for="floatingInput">Proveedor</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.empresa}}">
                        <label for="floatingInput">Empresa</label>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-floating mb-3">
                        <input readOnly type="email" class="form-control" value="{{vale.sucursal}}">
                        <label for="floatingInput">Sucursal</label>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <div class="col-md-12">
                    <div class="form-floating mb-3">
                        <input [readOnly]="vale.status!='P'" type="email" class="form-control" value="{{vale.comentarios}}" (change)="commentsUpdated($event)">
                        <label for="floatingInput">Comentarios</label>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-4" ><mat-checkbox  [disabled]="vale.status!='P'" [checked]="tanqueLleno" (change)="onChangeTanqueLleno($event.checked)">Tanque lleno</mat-checkbox></div>
            </div>

            <div class="row" *ngIf="vale.type!=60">
                <div class="col-md-12" *ngIf="!file">
                   <input type="file" accept="application/pdf" (change)="handleUpload($event)">

                   <button style="text-align: center;" type="button" class="btn btn-primary" (click)="sendFileRequest()">
                        <span >
                            Subir archivo
                        </span>
                       <span>
                            <mat-spinner style="margin:0 auto;" [diameter]="30" *ngIf="creando" color="warn"></mat-spinner>
                        </span>
                    </button>
                </div>
                
            </div>

            <div class="row" >
                <div class="col-md-3">
                    <button *ngIf="vale.type==60 && vale.status=='P'" style="text-align: center;" type="button" class="btn btn-danger" (click)="confirmVoucher()">
                        <span>
                            Confirmar vale
                        </span>
                    </button>
                    &nbsp;
                    <button style="text-align: center;" type="button" class="btn btn-primary" (click)="printVoucher()">
                        <span>
                            Imprimir vale
                        </span>
                    </button>

                    <button *ngIf="vale.type!=60" style="text-align: center; max-height: 39px;" type="button" class="btn btn-primary" (click)="openFile()">
                        <span>
                            <mat-icon> attach_file</mat-icon>
                        </span>
                    </button>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>