<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <div class="row">
                    <div class="col-md-6">
                        <mat-card-subtitle>Orden: {{workOrder.id}} &nbsp;&nbsp; Tipo: {{workOrder.tipo}} &nbsp;&nbsp; Tipo de paro: {{workOrder.tipoParo}}</mat-card-subtitle>
                    </div>
                    <div class="col-md-3">
                        <mat-card-subtitle>Usuario: {{workOrder.usuario}}</mat-card-subtitle>
                    </div>
                    <div class="col-md-3"><mat-card-subtitle>Fecha de creación: {{workOrder.timestamp | date: 'dd/MM/yyyy'}}</mat-card-subtitle></div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <mat-card-subtitle>
                            Fecha de inicio: {{workOrder.fechaInicio | date: 'dd/MM/yyyy'}} &nbsp;&nbsp; Fecha fin: {{workOrder.fechaFin | date: 'dd/MM/yyyy'}} &nbsp;&nbsp;
                        </mat-card-subtitle>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-9">
                                <mat-card-subtitle [ngClass]="{'createdClass':workOrder.status=='Creada' ,'startedClass':workOrder.status=='Iniciada', 'doneClass':workOrder.status=='Finalizada'}">
                                    Status: {{workOrder.status}}
                                </mat-card-subtitle>
                            </div>
                            <div class="col-md-2" *ngIf="workOrder.status=='Creada' && editing==false">
                                <span>
                                    <mat-icon (click)="enableEdit()">edit</mat-icon>
                                </span>
                            </div>
                            <div class="col-md-2" *ngIf="workOrder.status=='Creada' && editing==true">
                                <span>
                                    <mat-icon (click)="enableEdit()">border_color</mat-icon>
                                </span>
                            </div>
                        </div>
                 

                        
                    </div>
                    <button *ngIf="workOrder.status=='Creada'" color="blue" mat-flat-button aria-label="Iniciar" (click)="startWorkorderModal()">
                        <span>Iniciar</span>
                    </button>
                    <button *ngIf="workOrder.status=='Iniciada'" color="warn" mat-flat-button aria-label="Iniciar" (click)="finishWorkorderModal()">
                        <span>Finalizar</span>
                    </button>
                    <button *ngIf="workOrder.status=='Creada' && editing" color="warn" mat-flat-button aria-label="Guardar" (click)="saveEditedWorkOrderModal()">
                        <span>Guardar cambios</span>
                    </button>
                    
                   
                    
                </div>

               <mat-card-content> 
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                
                                <input readOnly type="email" class="form-control" value="{{workOrder.operador_Name}}">
                                <label for="floatingInput">Nombre de operador</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input readOnly type="email" class="form-control" value="{{workOrder.unidad_Name}}">
                                <label for="floatingInput">Nombre de unidad</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input readOnly type="email" class="form-control" value="{{workOrder.empresa}}">
                                <label for="floatingInput">Empresa</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input readOnly type="email" class="form-control" value="{{workOrder.sucursal}}">
                                <label for="floatingInput">Sucursal</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input [readOnly]="!editing" type="email" class="form-control" value="{{workOrder.motivodeSolicitud}}">
                                <label for="floatingInput">Motivo de solicitud</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input [readOnly]="!editing" type="email" class="form-control" value="{{workOrder.falla}}">
                                <label for="floatingInput">Falla</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input [readOnly]="!editing" type="email" class="form-control" value="{{workOrder.descripcionCorta}}">
                                <label for="floatingInput">Descripcion Corta</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input [readOnly]="!editing" type="email" class="form-control" value="{{workOrder.comentarios}}">
                                <label for="floatingInput">Comentarios</label>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>


        <div class="col-md-6" *ngIf="workOrder.status!='Creada'">
            <mat-tab-group>
                <mat-tab label="Mano de obra">
                    <div class="row">
                        <mat-card>
                            <mat-card-title>
                                <span> <mat-card-subtitle> Lista de mano de obra</mat-card-subtitle></span>
                            </mat-card-title>
                            <mat-card-content>
                                <button *ngIf="workOrder.status=='Iniciada'" style="text-align: center;" type="button" class="btn btn-primary" (click)="addWorkModal()">Agregar</button>
                                <mat-selection-list  [multiple]="false">
                                    <mat-list-option *ngFor="let work of worksByOrder" [value]="work">
                                        <div class="row">
                                            <div class="col-md-3">
                                                {{(allWorksMap.get(work.idManoObra)).descripcion}}
                                            </div>
                                            <div class="col-md-3">
                                                Empresa: {{work.empresa}}
                                            </div>
                                            <div class="col-md-3">
                                                {{work.timestamp | date: 'dd/MM/yyyy'}}
                                            </div>
                                            <div class="col-md-3">
                                                Total: {{work.total}}
                                            </div>
                                        </div>
                                    </mat-list-option>
                                </mat-selection-list>
                            </mat-card-content>
                        </mat-card>
                    </div>    
                </mat-tab>
                <mat-tab label="Refacciones">
                    Refas
                </mat-tab>
              </mat-tab-group>
            
        </div>

    </div>



</div>