<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 card">
                <div class="card-body">
                    <div class="card-title">
                        <span> Crear mano de obra </span>
                    </div>
                    <form [formGroup]="options" class="container">
                        <div class="row">
                          <!---<div class="col-md-9">    
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Orden de servicio</mat-label>
                                    <input type="text"
                                           placeholder="Selecciona orden de servicio"
                                           aria-label="Orden"
                                           [formControl]="autoCompControl"
                                           matInput
                                           [matAutocomplete]="auto" 
                                           >
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectUnidadOption($event)" [displayWith]="getOptionTextUnidades">
                                      <mat-option *ngFor="let unidad of filteredUnidades | async" [value]="unidad">
                                        {{unidad.itemname}}
                                      </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field> 
                            </div>-->
                        
        
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Oficio</mat-label>
                                    <input matInput  (change)="onUpdatedOficio($event)">
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Costo de hora</mat-label>
                                    <input matInput  (change)="onUpdatedCostHour($event)">
                                </mat-form-field>
                            </div>

                            <div class="col-md-3">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Cuenta contable</mat-label>
                                    <input matInput  (change)="onUpdatedAccount($event)">
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Descripcion</mat-label>
                                    <input matInput (change)="onUpdatedDescription($event)">
                                </mat-form-field>
                            </div>
                        </div>

    
    
                        <!---<div class="row"> 
    
                            <div *ngIf="empresaSelected!=3" class="col-md-6">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Tipo de vale</mat-label>
                                    <input matInput [value]="tipoVale" readonly>
                                </mat-form-field>
                            </div>
    
                        
                            
    
                            <div class="col-md-6">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Sucursal</mat-label>
                                    <input matInput placeholder="Sucursal" readonly [value]="selectedUnidad.sucursal" (change)="sucursalUpdated($event)">
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row"> 
    
                            <div *ngIf="tipoVale=='AA'" class="col-md-12">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Stock Diesel</mat-label>
                                    <input matInput readonly [value]="stockAutoabasto">
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Comentarios</mat-label>
                                    <input matInput [value]="comentariosBox" (change)="onUpdatedComments($event)">
                                </mat-form-field>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4" ><mat-checkbox (change)="onChangeTanqueLleno($event.checked)">Tanque lleno</mat-checkbox></div>
                            </div>
                        </div>--->
    
                        
                    </form>
                </div>
                <button style="text-align: center;" type="button" class="btn btn-primary" (click)="openDialog()">
                    <span *ngIf="!creando">
                        Crear
                    </span>
                    <span>
                        <mat-spinner style="margin:0 auto;" [diameter]="30" *ngIf="creando" color="warn"></mat-spinner>
                    </span>
                </button>
               <!--- <button style="text-align: center;" type="button" class="btn btn-primary" (click)="openDialog()">
                    <span *ngIf="!creando">
                        Crear
                    </span>
                    <span>
                        <mat-spinner style="margin:0 auto;" [diameter]="30" *ngIf="creando" color="warn"></mat-spinner>
                    </span>
                </button>-->
            </div>
    
        </div>
      </div>
    </div>
    