<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 card">
                <div class="card-body">
                    <div class="card-title">
                        <span> Crear Orden de servicio </span>
                    </div>
                    <form [formGroup]="options" class="container">
                        <div class="row">
                          <div class="col-md-9">    
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Unidad</mat-label>
                                    <input type="text"
                                           placeholder="Selecciona Unidad"
                                           aria-label="Unidad"
                                           [formControl]="autoCompControl"
                                           matInput
                                           [matAutocomplete]="auto" 
                                           >
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectUnidadOption($event)" [displayWith]="getOptionTextUnidades">
                                      <mat-option *ngFor="let unidad of filteredUnidades | async" [value]="unidad">
                                        {{unidad.itemname}}
                                      </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field> 
                            </div>

                            <div class="col-md-3">
                                <mat-form-field  appearance="fill"
                                    [hideRequiredMarker]="hideRequiredControl.value"
                                    [floatLabel]="getFloatLabelValue()">
                                    <mat-select (selectionChange)="changeWorkOrderType($event)">
                                        <mat-option *ngFor="let type of orderTypes" [value]="type">
                                            {{type.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-label>Tipo de orden</mat-label>
                                </mat-form-field>
                            </div>

                            
        
                        </div>
    
                        <div class="row">
                            <div class="col-md-8">
                                <mat-form-field appearance="fill"
                                    [hideRequiredMarker]="hideRequiredControl.value"
                                    [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Operador</mat-label>
                                    <input matInput placeholder="Operador" readonly [value]="selectedUnidad.operador" (change)="operadorUpdated($event)">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4">
                                <mat-form-field  appearance="fill"
                                    [hideRequiredMarker]="hideRequiredControl.value"
                                    [floatLabel]="getFloatLabelValue()">
                                    <mat-select (selectionChange)="changeStopType($event)">
                                        <mat-option *ngFor="let type of stopTypes" [value]="type">
                                            {{type.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-label>Tipo de paro</mat-label>
                                </mat-form-field>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Motivo</mat-label>
                                    <input matInput (keyup)="onUpdatedReason($event)">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Descripcion Corta</mat-label>
                                    <input matInput  (keyup)="onUpdatedDescription($event)">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Falla</mat-label>
                                    <input matInput  (keyup)="onUpdatedFailure($event)">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Comentarios</mat-label>
                                    <input matInput  (keyup)="onUpdatedComments($event)">
                                </mat-form-field>
                            </div>
                        </div>
                            
                    </form>
                </div>
                <button style="text-align: center;" type="button" class="btn btn-primary" (click)="openDialog()">
                    <span *ngIf="!creando">
                        Crear
                    </span>
                    <span>
                        <mat-spinner style="margin:0 auto;" [diameter]="30" *ngIf="creando" color="warn"></mat-spinner>
                    </span>
                </button>
               <!--- <button style="text-align: center;" type="button" class="btn btn-primary" (click)="openDialog()">
                    <span *ngIf="!creando">
                        Crear
                    </span>
                    <span>
                        <mat-spinner style="margin:0 auto;" [diameter]="30" *ngIf="creando" color="warn"></mat-spinner>
                    </span>
                </button>-->
            </div>
    
        </div>
      </div>
    </div>
    