<div class="container-fluid">
    <mat-card>
        <mat-card-title>{{data}}</mat-card-title>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <button style="text-align: center;" type="button" class="btn btn-primary" (click)="onYes()">
                        <span>Si</span>
                    </button>
                </div>
                <div class="col-md-6">
                    <button style="text-align: center;" type="button" class="btn btn-primary" (click)="onNo()">
                        <span>No</span>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</div>