<div class="card">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 card">
                <div class="card-body">
                    <div class="card-title" style="text-align: center;">
                        <span> Formulario de usuario </span> 
                    </div>
                    <form [formGroup]="options" class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="fill"
                                    [hideRequiredMarker]="hideRequiredControl.value"
                                    [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre" [value]="displayedUser.name" (change)="nameUpdated($event)">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="fill"
                                    [hideRequiredMarker]="hideRequiredControl.value"
                                    [floatLabel]="getFloatLabelValue()">
                                    <mat-select (selectionChange)="changeRol($event)">
                                        <mat-option *ngFor="let rol of roles" [value]="rol">
                                            {{rol.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-label>Rol</mat-label>
                                </mat-form-field>
                            </div>
                            
                        </div>

                        <div class="row">
    
                            <div class="col-md-6">
                                <mat-form-field appearance="fill"
                                    [hideRequiredMarker]="hideRequiredControl.value"
                                    [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" [value]="displayedUser.email" (change)="emailUpdated($event)">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field appearance="fill"
                                    [hideRequiredMarker]="hideRequiredControl.value"
                                    [floatLabel]="getFloatLabelValue()">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Password" [value]="displayedUser.password" (change)="passwordUpdated($event)">
                                </mat-form-field>
                            </div>
        
                        </div>    
                                    
                    </form>
                </div>
                
                <button style="text-align: center;" type="button" class="btn btn-primary" (click)="sendRequest()">
                    <span *ngIf="!loading">
                        <span *ngIf="creando">
                            Crear
                        </span>
                        <span *ngIf="!creando">
                            Actualizar
                        </span>
                    </span>
                    <span>
                        <mat-spinner style="margin:0 auto;" [diameter]="30" *ngIf="loading" color="warn"></mat-spinner>
                    </span>
                </button>
            </div>
        </div>
      </div>
    </div>
    